@charset "UTF-8";
/* CSS Document */

html body {
background-color: rgba(245,245,245,1.00);
}

.DarkBlue-col{
    background-color: darkblue;
    color: white;
}

.Blue-col{
    background-color: blue ;
    color: white;
}

.LightBlue-col{
    background-color: black;
    color:white;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.bg-body-tertiary{
    background-color: navy !important;
}

.nav-link{
    color:rgba(200,200,200,1.00) !important;
}

.nav-link:hover{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.active{
    color: white !important;
}

.navbar-toggler{
    filter:invert(100%);
}

h1 {
    font-size:1.81em;;
    font-weight: 700;
}

h2 {
    font-size:1.61;
    font-weight:700;
}

h3 {
    font-size:1.41;
    font-weight:700;
}

h4 {
    font-size:1.21;
    font-weight:700;
}

p {
    font-weight:400;
}

.footer-cy{
    text-align: center;
}

.btn-primary{
    background-color: navy;
    border-color: #E4002B;
}

.btn-primary:hover{
    background-color: darkblue;
}

.carousel-padding{
    padding-left: 125px;
    padding-right: 125px;
    color: black;
}

.carousel-control-prev-icon{
background-color: darkblue;
}

.carousel-control-next-icon{
    background-color: darkblue;
}